.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.card {
  width: 18.8%;
  /* outline: 1px solid red; */
  /* height: 400px; */
}

.card span {
  width: 100% !important;
  height: 100%;
}
