.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.card {
  width: 18.8%;
  /* outline: 1px solid red; */
  /* height: 400px; */
}

.card span {
  width: 100% !important;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .card {
    width: 100%;
  }

  .card {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 80%;
    margin: 0 auto;
  }
}
