* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat-Bold.ttf");
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5 {
  color: #252b42;
  font-weight: 700;
  font-family: Montserrat;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

p,
span,
li,
a {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  color: #424242;
  line-height: 20px;
}

button {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  color: #737373;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 90%;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  width: 90%;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
    font-weight: 400;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  p,
  span,
  li,
  a {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    color: #424242;
    line-height: 20px;
  }

  button {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    color: #737373;
  }
}
